.resetpassword-background{
    width: 511px;
    height: 474px;
    background: #BBBFCA;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resetpassword-header{
    margin: 87px 0 0 65px;
    color: #495464;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resetpassword-button{
    margin: 38px 0 0 90px;
    width: 332px;
    height: 50px;
    background-color: #495464;
    border-radius: 10px;
    border: none;
    color: #F4F4F2;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.6s ease;
}

.resetpassword-button:hover{
    background-color: #F4F4F2;
    color: #495464;
    transition: 0.6s ease;
    cursor: pointer;
}